@import url("./components.css");
@import url("./helper.css");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  --primary-dark: #1e40af;
  --primary-default: #1f7ae0;
  --primary-light: #3b82f6;

  --grey-dark: #374151;
  --grey-default: #6b7280;
  --grey-light: #d1d5db;
  --grey-opac: #eeeeeea1;

  --red-dark: #b91c1c;
  --red-default: #dc2626;
  --red-light: #ef4444;

  --yellow-dark: #e4b601;
  --yellow-default: #facc15;
  --yellow-light: #fde047;

  --black: #111827;
  --inner-text: #f7fafc;
  --background: #f7fafc;
  --inner-background: transparent;
  --foreground: #0e182a;

  background-color: var(--background);
  color: var(--foreground);

  font-family: "Lato", sans-serif;
  font-size: 16px;
}
body.dark-theme {
  --primary-dark: #1e40af;
  --primary-default: #1f7ae0;
  --primary-light: #3b82f6;

  --grey-dark: #111827;
  --grey-default: #f7fafce1;
  --grey-light: #a5a9af85;
  --grey-opac: #a5a9afb4;

  --red-dark: #991b1b;
  --red-default: #b91c1c;
  --red-light: #dc2626;

  --yellow-dark: #92400e;
  --yellow-default: #b45309;
  --yellow-light: #d97706;

  --black: #0e182a;
  --inner-text: #f7fafc;
  --background: #0e182a;
  --inner-background: #142138;
  --foreground: #f7fafc;
}

@media (prefers-color-scheme: dark) {
  body {
    --primary-dark: #1e40af;
    --primary-default: #1f7ae0;
    --primary-light: #3b82f6;

    --grey-dark: #111827;
    --grey-default: #f7fafce1;
    --grey-light: #a5a9af85;
    --grey-opac: #37415150;

    --red-dark: #991b1b;
    --red-default: #b91c1c;
    --red-light: #dc2626;

    --yellow-dark: #92400e;
    --yellow-default: #b45309;
    --yellow-light: #d97706;

    --black: #0e182a;
    --inner-text: #f7fafc;
    --background: #0e182a;
    --foreground: #f7fafc;
  }

  body.light-theme {
    --primary-dark: #1e40af;
    --primary-default: #1f7ae0;
    --primary-light: #3b82f6;

    --grey-dark: #374151;
    --grey-default: #6b7280;
    --grey-light: #d1d5db;
    --grey-opac: #d1d5db7e;

    --red-dark: #b91c1c;
    --red-default: #dc2626;
    --red-light: #ef4444;

    --yellow-dark: #e4b601;
    --yellow-default: #facc15;
    --yellow-light: #fde047;

    --black: #111827;
    --inner-text: #f7fafc;
    --background: #f7fafc;
    --foreground: #0e182a;
  }
}
