/* button Started */
.avtr,.avtr-clr,.sm-avtr-clr,.avtr-sq,.sm-avtr-sq{
    position: relative;
    padding: 4px;
}
.avtr-clr > h4,.sm-avtr-clr > h4,.avtr-sq> h4{
    border-radius: 50%;
    background: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--inner-text);
}
.avtr-sq>h4{
    border-radius: 0.25rem;
}
.sm-avtr-clr > h4{
    width: 2rem;
    height: 2rem;
}
.avtr-clr > img , .sm-avtr-clr > img , .avtr-sq > img,.sm-avtr-sq > img {
    object-fit: cover;
    border-radius: 50%;
}

.avtr-sq > img{
    border-radius: 0.375rem;
}
.sm-avtr-sq > img{
    border-radius: 0.25rem;
}
.avtr-clr > img, .avtr-sq > img {
    width: 2.5rem;
    height: 2.5rem;
}
.sm-avtr-clr > img, .sm-avtr-sq > img{
    width: 32px;
    height: 32px;
}
.bdge{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.125rem 0.25rem ;
    bottom: 0.0625rem ;
    left: 65% ;
    min-width: 1rem;
    height: 1rem;
    font-weight: 700;
    font-size: 0.65rem;
    text-align: center;
    border-radius: 0.5rem;
    color: var(--inner-text);
    background: var(--red-dark);
    box-shadow:0 0 0 0.24em var(--background);
}

/* Buttons */
button ,.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 500 1rem/1.18em 'Lato', sans-serif;
    letter-spacing: 0.04em;
    appearance: none;
    border-radius:4px;
    border: none;
    cursor: pointer;
}
button:focus{
    outline: none;
}
button:focus-visible{
    outline:none;
    box-shadow: 0 0 1px .09rem var(--primary-default);
}
button.btn-dis{
    border: 2px solid var(--grey-light);
    background: var(--background);
    color: var(--grey-default);
    pointer-events:none
}
button > .str-icon{
    margin-right: 8px;
}
button > .end-icon{
    margin-left: 8px;
}
.btn-pry-fil,.btn-pry{
    min-width: 9.875rem;
    max-width: 11.875rem;
    height: 3.5rem;
    padding: 0.875rem 2rem;
}
.sm-btn-pry-fil,.sm-btn-pry{
    font: 400 0.87rem/1.21em 'Lato', sans-serif;
    letter-spacing: normal;
    padding: 0.56rem 1rem;
}
.btn-pry-fil,.sm-btn-pry-fil{
    border: var(--primary-default);
    background-color: var(--primary-default);
    color: var(--inner-text) ;
}
button:active{ 
    background-color: var(--primary-light);
}
.btn-pry,.sm-btn-pry{
    color: var(--primary-default);
    border: 1px solid var(--primary-default);
    background-color: var(--background);
}
.btn-pry:active, .sm-btn-pry:active{ 
    color: var(--primary-light);
    background: var(--background);
    border: 1px solid var(--primary-light);
}
.btn-flt{
    position: fixed;
    bottom: 1rem;
    right: 1.3rem;
    z-index: 99999;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    background: var(--primary-default);
}
.icn-btn{
    width: 2rem;
    height: 2rem;
    border-radius: 1.2rem;
    background: var(--grey-light);
}

.btn-pry-fil.btn-dis, .sm-btn-pry-fil.btn-dis{
    border: 2px solid var(--grey-light);
    background: var(--grey-light);
    color: var(--grey-default);
    pointer-events:none
}

.link-btn{
    background: transparent;
    padding: 0.5rem 0.5rem;
    position: relative;
    color: inherit;
}
.link-btn:hover{
    background: var(--grey-opac);
}
/* buttons end */

/* card started */
.crd-cont{
    position: relative;
    width: 15rem;
    background: var(--inner-background);
}
.crd-cont:hover{
    transform: translateY(-2px)!important;
    transition: transform 0.2s linear 0.05s;
}
.crd-cont > img{
    object-fit: cover;
    height: 12rem;
}
.crd-cont > .crd-badge{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1em;
    color: var(--inner-text);
    border-radius: 1.25rem;
    background: var(--red-default);
}
.crd-cont > .crd-title{
    position: relative;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}
.crd-cont > .crd-title > button{
    height: 2rem;
    margin-top: 0.5rem;
}
.ovr-flw > .crd-title {
    position: absolute;
    bottom: 0px;
    color: var(--inner-text);
}
.crd-cont > .crd-wish{
    position: absolute;
    right: 0.5rem;
    bottom: 3.375rem;
    background: var(--grey-light);
}
.crd-cont > .crd-ratg{
    position: absolute;
    top: 0.6875rem;
    right: 0.5rem;
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    background: var(--yellow-default);
}
.crd-ratg > img {
    width: 1.16rem;
}
.typ-vrt{
    flex-direction: row;
    width: 21.25rem;
    height: 7.5rem;
}
.typ-vrt > img{
    height: 100%;
}
.typ-vrt > .crd-title{
    padding: 7px 8px;
}
.crd-cont.typ-vrt > .crd-wish{
    right: 0.6rem;
    bottom: 0.7rem;
}
.typ-vrt .crd-title  > button{
    margin-top: 1.2rem;
}
.crd-cont.ovr-flw{
    overflow: hidden;
    min-height: 18.75rem;
}
.ovr-flw::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(87, 159, 116, 0) 36.25%, #000000bd 100%);
}
.ovr-flw > img {
    position: absolute;
    z-index: -1;
    height: 100%;
}
/* card end */
/* typo started */
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    line-height: 1.5em;
}
h1{
    font-size: 2.2rem;
    line-height: 1.16em;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.3rem;
}
h4{
    font-size: 1.125rem;
}
h5{
    font-size: 1rem;
}
h6{
    font-size: 0.875rem;
}
p{
    font-size: 1rem;
    line-height: 1.618em;
}
.txt-rght{
    text-align: right;
}
.txt-ctr{
    text-align: center;
}
.txt-lft{
    text-align: left;
}
.txt-jst{
    text-align: justify;
}
.gry{
    color: var(--grey-default);
}
.txt-line-thro{
    text-decoration-line: line-through
}
/* typo end */
/* form started */
input[type=text], input[type=password]{
    padding: 0.68rem 1rem;
    border: 1px solid var(--primary-default);
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    appearance: none;
    max-width: 300px;
    font-size: 1rem;
    line-height: 1.14em;
    letter-spacing: 0.05em;
    color: var(--foreground);
    background-color: var(--grey-light);
}
input + .hlp-txt{
    color: var(--primary-light);
    font-size: 0.75rem;
    padding: 5px 1rem;
}
input:focus{
    outline: none;
    box-shadow: 0 0 0px .05rem var(--primary-default);
    border: 1px solid var(--primary-default);
}
input+.hlp-txt{
    display: none;
    font-size: 0.75rem;
    padding: 5px 1rem;
}
input:focus + .hlp-txt{
    display: block;
    animation: uptodown 200ms linear;
}
input[type=radio],input[type=checkbox]{
    visibility: hidden;
}
.check{
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input[type=radio] ~ .check{
    border-radius: 16px;
}
input[type=checkbox] ~ .check{
    border-radius: 0.25rem;
}
input[type=radio]:checked ~ .check::after{
    content: '';
    background: var(--primary-dark);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border-radius: none;
}
input[type=checkbox]:checked ~ .check::after{
    content: '';
    background: var(--primary-dark);
    width: 80%;
    height: 80%;
    border-radius: 0.1rem;
    border-radius: none;
}
@-webkit-keyframes uptodown {
    0%{
        transform: translate( 0 , -10px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes uptodown {
    0%{
        transform: translate( 0 , -10px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
.err-txt-area{
    border: 1px solid var(--red-default);
}
.err-txt-area:focus{
    outline: none;
    border: 1px solid var(--red-default) ;
    box-shadow: none;
}
.err-txt-area + .err-txt{
    font-size: 0.75rem;
    padding: 5px 1rem;
    color: var(--red-default);
}
/* form end */



/* snakbar */
.snk-bar,.snk-bar-err,.snk-bar-war,.snk-bar-suc{
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
    width: 21.25rem;
    color: #ffffff;
    background: #4a4a4a;
    border-radius: 4px;
}
.pos-f-r{
    position: fixed;
    z-index: 9999;
    top: 1.5rem;
    right: 2rem;
    animation: snkbarmoverRight 0.2s linear 0.05s;
}
.pos-f-l{
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    animation: snkbarmoverLeft 0.2s linear 0.05s;
}
.pos-f-t{
    position: fixed;
    top: 0;
    left: 0;
    animation: snkbarmoverTop 0.2s linear 0.05s;
}
@keyframes snkbarmoverRight  {
    0%{
        transform: translate( 30px , 0px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes snkbarmoverLeft  {
    0%{
        transform: translate( -30px , 0px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes snkbarmoverTop  {
    0%{
        transform: translate( 0px , -30px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
.snk-bar-err > h5,.snk-bar-war > h5,.snk-bar-suc > h5{
    margin-left: 8px;
}
.snk-bar > button,.snk-bar-err > button,.snk-bar-war > button,.snk-bar-suc > button{
    color: inherit;
    position: absolute;
    right:8px;
}
.snk-bar-err{
    background: var(--red-default);
}
.snk-bar-war{
    background: var(--yellow-default);
}
.snk-bar-suc{
    background: var(--primary-light);
}
.nav{
    padding: .8rem 1rem;
    width: 100%;
    height: 4.5rem;
    background: var(--grey-opac);
}
.nav-logo{
    width: 3.2rem;
}
.nav-logo > img{
    width: 100%;
}
.nav > .nav-lnks{
    position: relative;
}
.nav #drop-down #drop-down-menu, #hambuger-expand{
    display: none;
    text-align: left;
    width: 12.5rem;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--background);
    border: 1px solid var(--grey-light);
    border-radius: .25rem;
}

#drop-down-menu li, #hambuger-expand li{
    padding: .35rem 1rem;
}
.mod-con{
    display: none;
    width: 100vw;
    height: 100vh;
    background: var(--grey-opac);
    z-index: 9999;
}
.mod{
    padding: 18px ;
    max-width: 33.75rem;
    background: var(--background);
}